h1{
    color: blue;
}

#parent{
    width: 300px;
    border: 10px solid red;
}

#child{
    height: 100px;
    border: 10px solid green;
    /* 1st way to write margin */
    margin: 5px 4px 5px 3px;
    /*  */
    /* 2nd way to write margin */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 4px;
    /*  */
    /* 3rd way to write margin */
    margin-inline: 10px;
    margin-block: 20px;
    /*  */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#child p{
    border: 1px solid blue;
}

#elem{
    width: 300px;
    border: 1px solid red;
    padding: 20px;
    margin: 5px 4px 10px 0px;
}

#elem-2{
    width: 300px;
    border: 1px solid red;
    padding: 20px;
}