h6{
    margin-bottom: 5px;
}

/* Exercise 1 */
#parent-1 {
    width: 100px;
    border: 1px dotted blue;
}

#child-1 {
    height: 80px;
    border: 1px solid gold;
    margin: 10px;
}
/*  */
/* Exercise 2 */
#parent-2 {
    width: 100px;
    border: 1px dotted blue;
}

#child-2 {
    height: 50px;
    border: 1px dotted green;
    margin: 10px;
}

#child-2-1 {
    height: 30px;
    border: 1px solid red;
    margin: 10px;
}
/*  */
/* Exercise 3 */
#parent-3 {
    width: 50px;
    border: 1px solid red;
}

#child-3 {
    height: 20px;
    border: 1px solid green;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
}
/*  */
/* Exercise 4 */
#parent-4 {
    width: 100px;
    border: 1px solid red;
}

#child-4 {
    height: 40px;
    border: 1px solid green;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
/*  */
/* Exercise 5 */
#parent-5 {
    width: 100px;
    border: 1px solid red;
}

#child-5 {
    height: 60px;
    border: 1px solid green;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}
/*  */
/* Exercise 6 */
#parent-6 {
    width: 100px;
    border: 1px solid gold;
}

#child-6 {
    height: 25px;
    border: 1px dotted blue;
    margin: 10px 30px 60px 5px;
}
/*  */
/* Exercise 7 */
#parent-7 {
    width: 100px;
    height: 120px;
    border: 1px solid gold;
}

#child-7 {
    height: 30px;
    border: 1px dotted blue;
    margin: 40px 20px;
}
/*  */
/* Exercise 8 */
#parent-8 {
    width: 100px;
    height: 50px;
    border: 1px solid gold;
}

#child-8 {
    height: 15px;
    border: 1px dotted blue;
    margin: 15px 25px;
}
/*  */
/* Exercise 9 */
#parent-9 {
    width: 100px;
    height: 100px;
    border: 1px solid gold;
}

#child-9 {
    height: 20px;
    border: 1px dotted blue;
    margin: 60px 25px 15px;
}
/*  */
/* Exercise 10 */
#parent-10 {
    width: 150px;
    height: 50px;
    border: 1px solid gold;
}

#child-10 {
    height: 20px;
    border: 1px dotted blue;
    margin: 10px 40px 15px;
}
/*  */