/* Exercise 1 */
.parent1{
    border: 1px solid red;
    margin-left: 100px;
    margin-right: 100px
}

.child1a{
    width: 50px;
    height: 30px;
    margin: 5px auto;
    border: 1px solid green;
}

.child1b{
    width: 200px;
    height: 30px;
    margin: 5px auto;
    border: 1px solid green;
}

.child1c{
    width: 350px;
    height: 30px;
    margin: 5px auto;
    border: 1px solid green;
}
/*  */
/* Exercise 2 */
.parent2 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: center;
}
/*  */
/* Exercise 3 */
.parent3 {
    padding: 10px 0;
    padding-right: 10px;
    border: 1px solid red;
    text-align: right;
}
/*  */
/* Exercise 4 */
.parent4 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: center;
}

.child4 {
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid green;
}
/*  */
/* Exercise 5 */
.parent5 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: right;
}

.child5 {
    display:inline-block;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid green;
}
/*  */
/* Exercise 6 */
.parent6 {
    padding: 10px 0;
    border: 1px solid red;
    text-align: right;
}
.child6 {
    display: inline-block;
    margin-right: 5px;
    width: 100px;
    padding: 10px;
    border: 1px solid green;
}
/*  */