/* Exercise 1 */
#elem1 {
    padding: 30px;
    width: 150px;
    border: 1px solid red;
    text-align: justify;
}
/*  */
/* Exercise 2 */
#elem2 {
    padding: 30px;
    width: 350px;
    border: 1px solid green;
    text-align: justify;
}
/*  */
/* Exercise 3 */
#elem3 {
    padding: 5px;
    width: 250px;
    border: 1px solid red;
    text-align: justify;
}
/*  */
/* Exercise 4 */
#elem4 {
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 70px;
    padding-left: 30px;
    width: 150px;
    border: 1px solid red;
    text-align: justify;
}
/*  */
/* Exercise 5 */
#elem5 {
    padding: 10px 20px 30px 40px;
    width: 250px;
    border: 1px solid red;
    text-align: justify;
}
/*  */
/* Exercise 6 */
#elem6 {
    padding: 40px 20px;
    width: 250px;
    border: 1px solid red;
    text-align: justify;
}
/*  */
/* Exercise 7 */
#elem7 {
    padding: 10px 20px 50px;
    width: 250px;
    border: 1px solid red;
    text-align: justify;
}
/*  */
/* Exercise 8 */
#elem8 {
    height: 250px; 
    width: 250px;
    background: #f1f1f1;
}

#elem9 {
    height: 250px; 
    width: 250px;
    padding: 20px;
    background: #f1f1f1;
    border: 10px solid blue;
    box-sizing: border-box;
}
/*  */